@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?n9yxxu');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?n9yxxu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?n9yxxu') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?n9yxxu') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?n9yxxu##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="picon-"], [class*=" picon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picon-hot {
  &:before {
    content: $picon-hot; 
  }
}
.picon-basket {
  &:before {
    content: $picon-basket; 
  }
}
.picon-car {
  &:before {
    content: $picon-car; 
  }
}
.picon-zoom {
  &:before {
    content: $picon-zoom; 
  }
}
.picon-mail {
  &:before {
    content: $picon-mail; 
  }
}
.picon-opened {
  &:before {
    content: $picon-opened; 
  }
}
.picon-txt {
  &:before {
    content: $picon-txt; 
  }
}
.picon-mail-o {
  &:before {
    content: $picon-mail-o; 
  }
}
.picon-mail-gift {
  &:before {
    content: $picon-mail-gift; 
  }
}
.picon-round {
  &:before {
    content: $picon-round; 
  }
}
.picon-comment {
  &:before {
    content: $picon-comment; 
  }
}
.picon-square {
  &:before {
    content: $picon-square; 
  }
}
.picon-bow {
  &:before {
    content: $picon-bow; 
  }
}
.picon-love {
  &:before {
    content: $picon-love; 
  }
}
.picon-bag {
  &:before {
    content: $picon-bag; 
  }
}
.picon-124 {
  &:before {
    content: $picon-124; 
  }
}
.picon-with-text {
  &:before {
    content: $picon-with-text; 
  }
}
.picon-car1 {
  &:before {
    content: $picon-car1; 
  }
}
.picon-g1 {
  &:before {
    content: $picon-g1; 
  }
}
.picon-g2 {
  &:before {
    content: $picon-g2; 
  }
}
.picon-g3 {
  &:before {
    content: $picon-g3; 
  }
}
.picon-g4 {
  &:before {
    content: $picon-g4; 
  }
}
.picon-g5 {
  &:before {
    content: $picon-g5; 
  }
}
.picon-g6 {
  &:before {
    content: $picon-g6; 
  }
}
.picon-g7 {
  &:before {
    content: $picon-g7; 
  }
}

