@font-face {
  font-family: 'presents';
  src:  url('fonts/presents.eot?n9yxxu');
  src:  url('fonts/presents.eot?n9yxxu#iefix') format('embedded-opentype'),
    url('fonts/presents.ttf?n9yxxu') format('truetype'),
    url('fonts/presents.woff?n9yxxu') format('woff'),
    url('fonts/presents.svg?n9yxxu#presents') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="picon-"], [class*=" picon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'presents' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picon-hot:before {
  content: "\e900";
}
.picon-basket:before {
  content: "\e901";
}
.picon-car:before {
  content: "\e902";
}
.picon-zoom:before {
  content: "\e903";
}
.picon-mail:before {
  content: "\e904";
}
.picon-opened:before {
  content: "\e905";
}
.picon-txt:before {
  content: "\e906";
}
.picon-mail-o:before {
  content: "\e907";
}
.picon-mail-gift:before {
  content: "\e908";
}
.picon-round:before {
  content: "\e909";
}
.picon-comment:before {
  content: "\e90a";
}
.picon-square:before {
  content: "\e90b";
}
.picon-bow:before {
  content: "\e90c";
}
.picon-love:before {
  content: "\e90d";
}
.picon-bag:before {
  content: "\e90e";
}
.picon-124:before {
  content: "\e90f";
}
.picon-with-text:before {
  content: "\e910";
}
.picon-car1:before {
  content: "\e911";
}
.picon-g1:before {
  content: "\e912";
}
.picon-g2:before {
  content: "\e913";
}
.picon-g3:before {
  content: "\e914";
}
.picon-g4:before {
  content: "\e915";
}
.picon-g5:before {
  content: "\e916";
}
.picon-g6:before {
  content: "\e917";
}
.picon-g7:before {
  content: "\e918";
}
