$icomoon-font-family: "presents" !default;
$icomoon-font-path: "../fonts" !default;

$picon-hot: "\e900";
$picon-basket: "\e901";
$picon-car: "\e902";
$picon-zoom: "\e903";
$picon-mail: "\e904";
$picon-opened: "\e905";
$picon-txt: "\e906";
$picon-mail-o: "\e907";
$picon-mail-gift: "\e908";
$picon-round: "\e909";
$picon-comment: "\e90a";
$picon-square: "\e90b";
$picon-bow: "\e90c";
$picon-love: "\e90d";
$picon-bag: "\e90e";
$picon-124: "\e90f";
$picon-with-text: "\e910";
$picon-car1: "\e911";
$picon-g1: "\e912";
$picon-g2: "\e913";
$picon-g3: "\e914";
$picon-g4: "\e915";
$picon-g5: "\e916";
$picon-g6: "\e917";
$picon-g7: "\e918";

